/* Estilos básicos */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}
.logo img {
  max-height: 50px;
}
nav {
  display: flex;
  gap: 20px;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.sociais button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
}
.icon {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

/* Menu Hamburguer (Responsivo) */
.menu {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .menu {
      display: none; /* Menu oculto por padrão em telas pequenas */
      width: 100%;
      flex-direction: column;
      align-items: center;
      background-color: #333;
      position: absolute;
      top: 60px;
      left: 0;
      padding: 10px 0;
  }

  .menu a {
      font-size: 20px;
      padding: 10px 0;
  }

  .icon {
      display: block; /* Ícone hambúrguer visível em telas pequenas */
  }

  .menu.active {
      display: block; /* Mostrar o menu quando a classe 'active' for adicionada */
  }
}
